@import "~bootstrap";

.PostPage {
    position: relative;
    min-height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    .PostPage-article {
        background-color: white;
        @include media-breakpoint-up(lg) {
            max-width: 65vw;
            margin: 0 auto;
        }
    }
    .text-bold {
        color: #1a1110;
        font-weight: 600;
    }
    .PostPage-img-container {
        position: relative;
        &::after {
            display: block;
            content: "";
            padding-bottom: 100%;
        }
        .PostPage-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}
