.Profile {
    .Profile-username {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .Profile-bio {
        font-size: 1rem;
        font-weight: 300;
    }
    .Profile-no-posts {
        text-align: center;
        font-size: 1rem;
    }
}
