@import "~bootstrap";

$primaryColor: #00b7d6;
$shadow: 1px 3px 0px #0086b6;

.Profile {
    .Profile-bg {
        position: relative;
        justify-content: center;
        background-image: url("./profile.bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        min-height: 25vh;
        background-position: bottom;
    }
    .Profile-header {
        padding: 35px 0 0 0;
        position: relative;
        .avatar-container {
            position: absolute;
            top: -70px;
            @include media-breakpoint-up(lg) {
                top: -100px;
            }
        }
    }
    .Profile-gallery {
        padding: 0px;
    }
    .Profile-username {
        font-size: 1rem;
        font-weight: 500;
    }
    .Profile-bio {
        font-size: 1rem;
        font-weight: 300;
    }
    .Profile-post-count {
        font-size: 1rem;
        font-weight: 500;
        border-bottom: 2px solid $primaryColor;
    }
    .Profile-no-posts {
        text-align: center;
        font-size: 1rem;
    }
    .img-container.col-4:nth-child(3n + 2) {
        border: 2px solid red;
        // padding: 0 10px;
    }
    .Post-img-container {
        position: relative;
        &::after {
            display: block;
            content: "";
            padding-bottom: 100%;
        }
        // .Post-img {
        //     box-sizing: border-box;
        //     border-right: 3px solid black;
        //     border-bottom: 3px solid black;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        // }
        .likes-modal {
            position: absolute;
            display: inline-block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(grey, 0.3);
            z-index: 99;
            font-size: 1rem;
            @include media-breakpoint-up(lg) {
                font-size: 2rem;
            }
            .likes-length {
                font-size: 1rem;
                @include media-breakpoint-up(lg) {
                    font-size: 2rem;
                }
            }
        }
    }
}
