$primaryColor: rgba(0, 183, 214, 1);
$hoverColor: rgba(0, 183, 214, 0.8);

.PostCreateSecondStep {
    padding: 5px 10px;
    border-bottom: 1px solid #e9ecef;
    .btn.next-btn {
        width: 70px;
        font-size: 12px;
        border: 1px solid $primaryColor;
        font-weight: 500;
        color: $primaryColor;
        transition: 0.3s;
        &:hover {
            background-color: $primaryColor;
            color: #fafafa;
        }
    }
}

.PostCreateSecondStep-inputs {
    .input-group {
        .title-input.form-control.title-field {
            position: relative;
            min-height: 40vh;
        }
    }

    .input-group-prepend {
        position: absolute;
        max-height: 40px;
        bottom: 0;
        right: 0;
        z-index: 9;
        .btn.btn-primary {
            background-color: $primaryColor;
            border: white;
            transition: 0.3s;
            &:hover {
                font-size: 12px;
                background-color: $hoverColor;
                border: 2px solid #fafafa;
            }
            &:focus {
                border: 2px solid #fafafa;
                background-color: $primaryColor;
                outline: none;
                outline-offset: none;
            }
        }
    }

    .title-field::placeholder {
        padding-bottom: 40px;
        font-weight: 300;
        font-style: italic;
    }
}
