@import "~bootstrap";
$primaryColor: rgba(0, 183, 214, 1);
$hoverColor: rgba(0, 183, 214, 0.8);

.RegisterModal {
    .btn {
        .text-white {
            color: #fafafa;
        }
        text-align: center;
        color: $primaryColor;
        transition: 0.3s;
        &:hover {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: underline;
        }
    }
    .terms {
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        padding-left: 1px;
    }
    .modal-dialog {
        color: #000005;
    }
    text-align: left;
    h2 {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .term-title {
        font-family: "Roboto", sans-serif;
    }
    .brand-name {
        font-family: "Billabong";
        font-size: 32px;
    }
    .btn-link {
        padding: 0;
    }
    .btn.close {
        padding: 15px;
        width: 70px;
        font-size: 12px;
        border: 1px solid $primaryColor;
        font-weight: 500;
        color: $primaryColor;
        transition: 0.3s;
        &:hover {
            font-size: 12px;
            color: #fafafa;
            background-color: $hoverColor;
            border: 2px solid #fafafa;
        }
    }
}
