@import "~bootstrap";

.Post {
    border: 1px solid black;
    background-color: white;
    @include media-breakpoint-up(lg) {
        max-width: 150px;
    }
    .Post-img-container {
        position: relative;
        &::after {
            display: block;
            content: "";
            padding-bottom: 100%;
        }
        .Post-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}
