/* Variables */
@import "~bootstrap";

$bounce-color: white;

$sm-mob-image-size: 28px;
$md-mob-image-size: 36px;
$lg-mob-image-size: 100px;

$sm-tab-image-size: 38px;
$md-tab-image-size: 46px;
$lg-tab-image-size: 110px;

$sm-desk-image-size: 48px;
$md-desk-image-size: 60px;
$lg-desk-image-size: 80px;

.Avatar-holder {
    display: inline-block;
    .avatar {
        padding: 0;
        img.Avatar-img {
            &.sm {
                height: $sm-mob-image-size;
                width: $sm-mob-image-size;
                @include media-breakpoint-up(md) {
                    height: $sm-tab-image-size;
                    width: $sm-tab-image-size;
                }
                @include media-breakpoint-up(lg) {
                    height: $sm-desk-image-size;
                    width: $sm-desk-image-size;
                }
            }
            &.md {
                height: $md-mob-image-size;
                width: $md-mob-image-size;
                @include media-breakpoint-up(md) {
                    height: $md-tab-image-size;
                    width: $md-tab-image-size;
                }
                @include media-breakpoint-up(lg) {
                    height: $md-desk-image-size;
                    width: $md-desk-image-size;
                }
            }
            &.lg {
                height: $lg-mob-image-size;
                width: $lg-mob-image-size;
                @include media-breakpoint-up(md) {
                    height: $lg-tab-image-size;
                    width: $lg-tab-image-size;
                }
                @include media-breakpoint-up(lg) {
                    height: $lg-desk-image-size;
                    width: $lg-desk-image-size;
                }
            }
            background-color: $bounce-color;
            box-shadow: 0 0 0 3px $bounce-color;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                animation: bounceOut 0.4s linear;
            }
        }
    }
}

@keyframes bounceOut {
    0% {
        box-shadow: 0 0 0 4px $bounce-color;
        opacity: 1;
    }
    25% {
        box-shadow: 0 0 0 1px $bounce-color;
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 0 7px $bounce-color;
        opacity: 1;
    }
    75% {
        box-shadow: 0 0 0 4px $bounce-color;
        opacity: 1;
    }
    100% {
        box-shadow: 0 0 0 5px $bounce-color;
        opacity: 1;
    }
}
