.PostComment {
    margin-bottom: 20px;
    font-size: 14px;
    .avatar-container {
        padding: 0 10px;
        flex: 1 1 50%;
    }
    .username {
        font-weight: 500;
    }
    .PostComment-content-container {
        padding: 0 10px;
        flex: 1 1 50%;
        .PostComment-content {
            word-break: break-all;
        }
    }
    .PostComment-createdAt {
        font-size: 12px;
    }
    &:first-child {
        margin-top: 20px;
    }
}
