@import "../../_custom-variables";

$primaryColor: rgba(0, 183, 214, 1);
$hoverColor: rgba(0, 183, 214, 0.8);
.PostCreateFirstStep {
    padding: 5px 10px;
    border-bottom: 1px solid #e9ecef;
    .nav-item {
        padding: 0 10px;
    }
    .btn.next-btn,
    .btn {
        width: 70px;
        font-size: 12px;
        border: 1px solid $primaryColor;
        font-weight: 500;
        color: $primaryColor;
        transition: 0.3s;
        &:hover {
            font-size: 12px;
            color: #fafafa;
            background-color: $hoverColor;
            border: 2px solid #fafafa;
        }
    }
}
