@import "../../_custom-variables";
@import "~bootstrap/scss/bootstrap";

$primaryColor: #00b7d6;
.PostCreateFirstStep {
    padding: 5px 10px;
    border-bottom: 1px solid #e9ecef;
    .nav-item {
        padding: 0 10px;
    }
    .btn.next-btn,
    .btn {
        width: 70px;
        font-size: 12px;
        border: 1px solid $primaryColor;
        font-weight: 500;
        color: $primaryColor;
    }
}
